<footer class="py-4 flex flex-wrap md:text-left text-center justify-content-around line-height-4 surface-hover">
  <img class="w-6 md:w-2" src="assets/images/TSE.png">
  <div class="flex flex-column">
    <h3 class="bgColor">The Supplement Lab</h3>
    <a [routerLink]="['/about']">About Us</a>
    <a [routerLink]="['/products']">Our Products</a>
    <a [routerLink]="['/contact']">Contact Us</a>
  </div>
  <div class="flex flex-column">
    <h3 class="bgColor">Information</h3>
    <a [routerLink]="['/terms-and-services']">Terms & Services</a>
    <a [routerLink]="['/privacy-and-policy']">Privacy & Policy</a>
    <a [routerLink]="['/refund-policy']">Refund Policy</a>
  </div>
  <div class="flex flex-column">
    <h3 class="bgColor">Follow us</h3>
    <div class="flex gap-2">
      <button pButton pRipple icon="pi pi-instagram" class="p-button-rounded p-button-outlined"
        onclick="window.open('https://www.instagram.com/thesupplementlab.lb/', '_blank')">
      </button>
      <button pButton pRipple icon="pi pi-whatsapp" class="p-button-rounded p-button-outlined"
        onclick="window.open('https://wa.me/70431214/', '_blank')">
      </button>
      <button pButton pRipple icon="pi pi-facebook" class="p-button-rounded p-button-outlined"
      onclick="window.open('https://www.facebook.com/TheSupplementLab.lb/', '_blank')">
      </button>
    </div>
  </div>
</footer>