<section class="line-height-3 text-lg text-center m-1 md:m-5">
    <h1 >ABOUT</h1>
    <p>
      At The Supplement Lab, we take sports nutrition very seriously. We believe it is the
      key to succeed in any athletic quest whether you are a professional bodybuilder,
      athlete, or just an active person that works out simply for the fun of it.
      We believe a well balanced diet with the right supplements is all you need
      to reach your full potential. Look, Feel, and Perform like you've never done before!
    </p>
    <h2>SOME FACTS ABOUT US:</h2>
    <ul>
      <p>1. We provide a large variety of sports supplements from top quality manufacturers.</p>
      <p>
        2. We have a motivated and educated team always on hand ready to answer any question concerning your diet,
        your workout or your supplements. Contact us now for all your inquiries.
      </p>
      <p>3. We deliver products free of charge right to your door step. </p>
      <p>4. Get a 5% discount on purchases that exceed 100$ .</p>
      <p>5. Last but not least, if you're a coach, a trainer or a gym owner you will definitely get a special deal at our store.</p>
    </ul>
    <h2>HIGH QUALITY PRODUCTS PROVIDE THE BEST RESULTS</h2>
    <p>Our products are sourced directly from the manufacturers allowing us to control every
      variable that might affect their quality. Shipped from one side of the globe to the other,
      the shiny supplement tubs you see on shelves might not have made it to Lebanon in the best
      conditions...Most local dealers ship their orders the cheapest possible way in regular
      containers ignoring the fact that high humidity and high temperatures dramatically
      damage supplements lowering there potency and efficiency.
      However you can rest assured that at Shape Up we commit to high quality at any cost,
      we import all our orders either by plane or in refrigerated containers allowing
      us to guaranty the quality of the supplements we sell.</p>
    <h2>HOW DO WE OFFER BETTER QUALITY AT A BETTER PRICE?</h2>
    <h4>The longer the chain the higher the price and the lower the quality!</h4>
    <p>
      Once the products reach our warehouse we take the necessary measures to provide the best storage conditions. Our warehouse is equipped
      with air conditioners and dehumidifiers keeping the temperature between 15 and 25 degree
      Celsius(°C) and the humidity between 40 and 60 percent throughout the 4 seasons.
    </p>
</section>