<section class="flex align-content-center justify-content-center flex-wrap flex-column sm:min-h-screen sm: my-3">
  <h1>Contact Us</h1>
  <div class="flex sm:flex-row flex-column gap-1 mt-5">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText>
      <label for="float-input">Username</label>
    </span>
    <span class="p-float-label sm:mt-0  mt-5">
      <input id="float-input" type="text" pInputText>
      <label for="float-input">Phone Number</label>
    </span>
  </div>
  <span class="p-float-label mt-5">
    <input id="float-input" type="text" pInputText class="w-full">
    <label for="float-input">Email</label>
  </span>
  <div class="field mt-5">
    <span class="p-float-label">
        <textarea inputId="textarea" rows="5" style="resize: none;" class="w-full" pInputTextarea></textarea>
        <label for="textarea">Message</label>
    </span>
  </div>
  <p-button class="mt-2 text-center" type="button" label="Send"></p-button>
</section>