<section class="grid">
  <div class="md:col-6 col-12">
    <p-galleria
      [value]="productOverview.image"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '640px' }"
      [showThumbnailNavigators]="false"
      [showThumbnails]="false"
      [showItemNavigators]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="'assets/images/' + item"
          style="width: 70%"
          [alt]="productOverview.name"
        />
      </ng-template>
    </p-galleria>
  </div>
  <div class="md:col-6 col-12">
    <div class="flex gap-2 flex-column">
      <h1 class="text-5xl">
        {{ productOverview.name }}
      </h1>
      <p class="text-4xl font-bold">${{ productOverview.price }}</p>
      <div class="md:mt-6 mt-2 flex flex-column gap-2">
        <p>Flavor</p>
        <p-dropdown
          [options]="productOverview.flavors"
          placeholder="{{ productOverview.flavor }}"
          (onChange)="onFlavorChange($event)"
        ></p-dropdown>
      </div>
      <div
        class="md:mt-4 mt-2 flex md:flex-row flex-column justify-content-between gap-4"
      >
        <span class="flex flex-column gap-2">
          <p>Quantity</p>
          <p-inputNumber
            [showButtons]="true"
            buttonLayout="horizontal"
            [min]="1"
            spinnerMode="horizontal"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [allowEmpty]="false"
            (onInput)="onQuantityChange($event)"
          ></p-inputNumber>
        </span>
        <p-button
          icon="pi pi-shopping-cart"
          label="Add To Cart"
          class="flex align-items-end"
          (onClick)="addToCart()"
        ></p-button>
      </div>
      <p-card header="Description" class="md:mt-6 mt-3">
        <p class="m-0">
          {{ productOverview.description }}
        </p>
      </p-card>
    </div>
  </div>
</section>
