.truncate {
  width: 250px; /* Adjust as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  max-height: 100px; /* Adjust as needed */
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card{
  padding: 1rem;
  box-shadow: 0px 10px 40px rgba(17, 221, 34, 0.06);
  border-radius: 4px;
}
