<div class="flex align-content-center justify-content-center">
  <!-- <form class="grid lg:w-7 flex justify-content-center" > -->
  <p-card [formGroup]="infoForm" class="my-6">
    <div class="flex flex-column gap-5">
      <span class="text-900 text-2xl block font-medium">
        Contact + Shipping Information
      </span>
      <!-- <div class="col-12 lg:col-3 field mb-4">
      <p-dropdown
        [options]="countryList"
        placeholder="Country"
        optionlabel="name"
        styleclass="w-full"
        formControlName="country"
        class="ng-untouched ng-pristine ng-valid"
      >
      </p-dropdown>
    </div> -->
      <div>
        <input
          id="email"
          placeholder="Email"
          type="text"
          class="p-inputtext w-full"
        />
      </div>
      <div class="flex flex-row gap-1">
        <input
          placeholder="*Name"
          formControlName="name"
          pInputText
          class="w-full"
        />
        <p-inputNumber
          placeholder="*Phone Number"
          formControlName="phoneNumber"
          class="w-full"
          mode="decimal"
          [useGrouping]="false"
        ></p-inputNumber>
      </div>

      <div>
        <input
          placeholder="*City / Address"
          formControlName="address"
          pInputText
          class="w-full"
        />
      </div>
      <div>
        <input
          placeholder="Apartment, suite, etc"
          type="text"
          pInputText
          class="w-full"
          formControlName="addressExtra"
        />
      </div>
      <div>
        <input
          placeholder="Special Instructions"
          type="text"
          pInputText
          class="w-full"
          formControlName="message"
        />
      </div>
      <div
        class="flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end"
      >
        <p-button
          label="Return to Cart"
          icon="pi pi-fw pi-arrow-left"
          class="p-button-secondary p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4"
          (onClick)="goBack()"
        ></p-button>
        <p-button
          pbutton
          label="Continue to Shipping"
          icon="pi pi-fw pi-check"
          class="p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2"
          (onClick)="goToCheckOut()"
        ></p-button>
      </div>
    </div>
  </p-card>
  <!-- </form> -->
</div>
