.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
    background-color: #f8f8f825;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #f8f8f863;
  }

  .item-dark{
    border: 0px;
    background-color:  rgba(29, 30, 30, 0.14);
    box-shadow: 0px 10px 40px rgba(17, 221, 34, 0.06);
  }
  .image-dark{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgba(29, 30, 30, 0.39);
  }
}

.card {
  padding: 2rem;
  box-shadow: 0px 10px 40px rgba(17, 221, 34, 0.06);
  border-radius: 4px;
  margin-bottom: 2rem;
}
